body {
    background-color: rgb(11, 11, 66);
    display: grid;
    place-items: center;
    padding-top: 20px;
    width: 100vw;
  }
  
  .astronaut {
    position: relative;
  }
  
  .head {
    position: absolute;
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border-bottom: 1px solid gray;
  }
  
  .head::before {
    content: '';
    position: absolute;
    width: 225px; 
    height: 225px;
    background-color: black;
    border-radius: 50%;
    top: 12px;
    left: 12px;
  }
  
  .head::after {
    content: '';
    width: 200px;
    height: 200px;
    border-right: 5px solid white;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
  }
  
  .ears {
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: rgb(218, 207, 207);
    border-radius: 50%;
    top: 30%;
    z-index: -1;
  }
  
  .ears:first-child {
    right: -30px;
  }
  
  .ears:not(:first-child) {
    left: -30px;
  }
  
  .body {
    width: 300px;
    height: 150px;
    background-color: white;
    position: absolute;
    top: 230px;
    left: -20px;
    z-index: -1;
    border-radius: 50% 50% 0 0;
  }
  
  .body::before {
    content: 'Name';
    background-color: rgb(14, 4, 56);
    border: 2px solid gray;
    border-radius: 60%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 45px;
    right: 35px;
    color: white;
    text-align: center;;
    line-height: 50px;
  }
  